* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: black;
  color: whitesmoke;
}


.loader-container {
  overflow: hidden;
  position: fixed;
  z-index: 88888888888888888888888888888888888;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-svg {
  --spin-duration: 2000ms;
  --infinity-duration: 2000ms;
  --hsl-base-h: 5deg;
  --hsl-base-s: 70%;
  --hsl-base-l: 50%;
  animation: spinAnimation var(--spin-duration) linear infinite;
}

.loader-path {
  --path-length: 60.84563446044922px; /* Length of the path */
  --offset: calc(var(--order) * 5px);
  animation: infinityAnimation var(--infinity-duration) linear infinite;
  fill: none;
  stroke: hsl(calc(var(--hsl-base-h) * var(--order)), var(--hsl-base-s), var(--hsl-base-l));
  stroke-dasharray: 6px calc(var(--path-length) - 6px);
  stroke-linecap: round;
  stroke-width: calc(1 - var(--order) / 10);
}

@keyframes infinityAnimation {
  0% {
      stroke-dashoffset: calc(var(--path-length) + var(--offset));
  }
  100% {
      stroke-dashoffset: var(--offset);
  }
}

@keyframes spinAnimation {
  0% {
      transform: rotate(0);
  }
  100% {
      transform: rotate(360deg);
  }
}

.for_loading {
  display: none;
}

/* -------- */
.Home_page {
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}
/* .contact{
  width: 100vw;
  height: 100vh;
} */
.Home_page .menu_button {
  display: none;
}
.navbar {
    background-color: #000000;
  margin: auto;
  position: fixed;
  left: 0;
  z-index: 43643654654;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 90px;
}
.section_home_page_content .navbar ul {
  display: flex;
  list-style: none;
  align-items: flex-end;
}
.section_home_page_content {
  width: 75%;
  margin: auto;
  height: 80%;
}

.section_home_page_content .navbar ul li a {
  text-decoration: none;
  background: linear-gradient(to right, #d4145a, #fbb03b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-right: 20px;
  font-weight: bold;
  font-size: 22px;
}
.Home_page .navbar .logo img {
  width: 60px;
}

.section_home_page_content .content_sweets {
  height: 115%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section_home_page_content .content_sweets .name_sweets {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.name_sweets h1 {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 4px;
  animation: gradient-animation 3s linear infinite alternate;
  font-size: 8vw;
  color: #000000;
  background: linear-gradient(to right, #d4145a, #fbb03b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 800;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
  .Home_page  .logo_sweets_home {
    width: 150px;
    margin-top: 10px;
    border-radius: 50%;
}
.section_home_page_content .content_sweets .name_sweets .work-baxca h2 {
  position: relative;
  font-size: 8vw;
  margin: 30px 0;
  color: #000000;
  -webkit-text-stroke: 0.1vw rgb(155, 155, 155);
  text-transform: uppercase;
}
.section_home_page_content .content_sweets .name_sweets .work-baxca h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  color: rgb(189, 189, 10);
  -webkit-text-stroke: 0vw rgb(189, 189, 10);
  border-right: 2px solid rgb(99, 99, 5);
  overflow: hidden;
  animation: animate 6s linear infinite;
  background: linear-gradient(to right, #d4145a, #fbb03b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

.section_home_page_content .content_sweets .description {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 27px;
  font-size: 18px;
  font-weight: 600;
}
.section_home_page_content .content_sweets .description p {
  margin-bottom: 10px;
}
.slider {
  border-top: solid rgb(0, 0, 0);
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 35%; /* Adjust height as needed */
}
.slider::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 1)
  );
}

.slide-track {
  display: flex;
  animation: scroll 20s linear infinite;
}

.slide {
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(255, 255, 255, 0.8) 0px 0px 1px 0px;
  overflow: hidden;
  min-width: 20%; /* Adjust this width based on the number of images */
  box-sizing: border-box;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}
.translatey_slider {
  transform: translateY(-30%);
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.button_menu {
  position: relative;
  top: 0;
  left:0px;
  width: 260px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2em 2rem;
  cursor: pointer;
  gap: 0.4rem;
  font-weight: bold;
  border-radius: 30px;
  text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
  background: linear-gradient(
      15deg,
      #880088,
      #aa2068,
      #cc3f47,
      #de6f3d,
      #f09f33,
      #de6f3d,
      #cc3f47,
      #aa2068,
      #880088
    )
    no-repeat;
  background-size: 300%;
  color: #fff;
  border: none;
  background-position: left center;
  box-shadow: 0 30px 10px -20px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;
}
.button_menu a{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100%;
  height: 100%;
color: white;
text-decoration: none;

}
.button_menu img{
  position: absolute;
  left: 30px;
    width: 20px;
}
.button_menu:hover {
  background-size: 320%;
  background-position: right center;
}

.button_menu:hover svg {
  fill: #fff;
}

.button_menu svg {
  width: 23px;
  fill: #f09f33;
  transition: 0.3s ease;
}

/* dropdown */
.nav-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  padding: 8px 0px;
  font-size: 14px;
  color: white;
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}


.dropdown-menu {
  display: none;
  margin-top: 5px;
  position: absolute;
  background-color: rgb(24, 23, 23);
  border: 1px solid #2e2f31;
  border-radius: 8px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-menu.active {
  display: block;
}

.dropdown-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 10px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dropdown img {
  width: 20px ;
}
.dropdown img {
  margin-right: 5px;
}
.dropdown-btn .arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
}
/* end dropdown */


/* contact us and Location ----------------------------------------------------------------------------------*/
.location-container {
  padding-top: 100px;
  margin:  auto;
  margin-top: 150px;
  width: 100%;
  max-width: 650px;
  background-color: #000000;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}
.location-container h3 {
  margin-bottom: 20px;
  font-size: 24px;
  text-decoration: none;
background: linear-gradient(to right, #d4145a, #fbb03b);
-webkit-background-clip: text;
background-clip: text;
color: transparent;  
      }

.location-container p {
  margin-bottom: 10px;
  font-size: 18px;
  color: aliceblue;
}
iframe {
  border: 0;
  width: 100%;
  height: 400px;
  border-radius: 10px;
  margin-top: 20px;
}
.contact-us {
  margin: auto;
  width: 100%;
  max-width: 650px;
  background-color: #000000;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 180px;
}
.contact-us h2{
  margin-bottom: 50px;
}
.contact-us a i{
  margin: 0px 7px;
}
.contact-us a{
  margin-top: 0;
  font-size: 16px;
  text-decoration: none;
color: rgb(49, 50, 50);
}
.contact-us p{
  width: fit-content;
display: flex;
align-items: center;
padding: .9em 1rem;
cursor: pointer;
gap: 0.2rem;
font-weight: bold;
border-radius: 30px;
text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
background: linear-gradient(
15deg,
#880088,
#aa2068,
#cc3f47,
#de6f3d,
#f09f33,
#de6f3d,
#cc3f47,
#aa2068,
#880088
)
no-repeat;
background-size: 300%;
color: #fff;
border: none;
background-position: left center;
box-shadow: 0 30px 10px -20px rgba(0, 0, 0, 0.2);
transition: background 0.3s ease;
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.02);
  }
  100% {
      transform: scale(1);
  }
}
.contact-us h2{
  background: linear-gradient(to right, #d4145a, #fbb03b);
-webkit-background-clip: text;
background-clip: text;
color: transparent;    
}
.contact-us .tell{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-us span{
  width: 50%;
  text-align: left;
  margin-bottom: 12px;
  color: aliceblue;
}
/* social media */
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass-btn {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 2rem 0.5em;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 2em;
  margin-top: 100px;
}

.blue-btn {
  -webkit-box-shadow: 0px 20px 20px -17px rgba(67, 69, 70, 0.53);
  -moz-box-shadow: 0px 20px 20px -17px rgba(224, 227, 231, 0.53);
  box-shadow: 0px 20px 20px -17px rgba(37, 37, 37, 0.53);
  color: #bdc8d6;
}

.blue-btn:hover {
  -webkit-box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);
  -moz-box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);
  box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);
}

.red-btn {
  -webkit-box-shadow: 0px 20px 20px -17px rgba(16, 116, 255, 0.5);
  -moz-box-shadow: 0px 20px 20px -17px rgba(231, 6, 168, 0.5);
  box-shadow: 0px 20px 20px -17px rgba(195, 28, 241, 0.5);
  color: #fa0678;
}

.red-btn:hover {
  -webkit-box-shadow: 0px 20px 35px -16px rgba(255, 16, 39, 0.57);
  -moz-box-shadow: 0px 20px 35px -16px rgba(255, 16, 39, 0.57);
  box-shadow: 0px 20px 35px -16px rgba(255, 16, 39, 0.57);
}

.amber-btn {
  -webkit-box-shadow: 0px 20px 20px -17px rgba(255, 159, 16, 0.53);
  -moz-box-shadow: 0px 20px 20px -17px rgba(255, 159, 16, 0.53);
  box-shadow: 0px 20px 20px -17px rgba(255, 159, 16, 0.53);
  color: #ff9f10;
}

.amber-btn:hover {
  -webkit-box-shadow: 0px 20px 35px -16px rgba(255, 159, 16, 0.6);
  -moz-box-shadow: 0px 20px 35px -16px rgba(255, 159, 16, 0.6);
  box-shadow: 0px 20px 35px -16px rgba(255, 159, 16, 0.6);
}

.green-btn {
  -webkit-box-shadow: 0px 20px 20px -17px rgba(0, 255, 0, 0.53);
  -moz-box-shadow: 0px 20px 20px -17px rgba(0, 255, 0, 0.53);
  box-shadow: 0px 20px 20px -17px rgba(0, 255, 0, 0.53);
  color: #00ff00;
}

.green-btn:hover {
  -webkit-box-shadow: 0px 20px 35px -16px rgba(0, 255, 0, 0.6);
  -moz-box-shadow: 0px 20px 35px -16px rgba(0, 255, 0, 0.6);
  box-shadow: 0px 20px 35px -16px rgba(0, 255, 0, 0.6);
}

.glass-btn:hover {
  background-color: #f2f7fd;
  transform: translateY(-5px);
  transition: all 0.3s;
}
@media screen and (max-width:600px) {
  .contact-us .tell{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.contact-us p{
margin-top: 10px;
}
.contact-us .tell span{
width: 80%;
text-align: center;
}
}



/* RESPONSIVE */
@media screen and (min-width: 1100px) {
  .section_home_page_content .content_sweets .name_sweets .work-baxca h2 {
    position: relative;
    font-size: 3vw;
  }
  .name_sweets h1 {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 4px;
    animation: gradient-animation 3s linear infinite alternate;
    font-size: 3vw;
  }
}
@media screen and (max-width: 1099px) {
  .section_home_page_content {
    position: relative;
    width: 100%;
  }
  .navbar {
    width: 100%;
    justify-content: space-between;
  }
  .Home_page .menu_button {
    display: inline-block;
    width: 60px;
  }
  .section_home_page_content .navbar .content-navabr {
    position: absolute;
    overflow: hidden;
    top: 100%;
    left: 300%;
    height: 100vh;
    z-index: 44;
    flex-direction: column;
    background-color: rgba( 0, 0, 0, 0.95 ); /* Adjust the transparency (last value) as needed */
    transition: left linear 1s;
  }
  .section_home_page_content .navbar.classactive .content-navabr {
    left: 0%;
  }
  .section_home_page_content .navbar .content-navabr ul {
    width: 100vw;
    height: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .Home_page  .logo_sweets_home {
    width: 150px;
    margin-top: 10px;
    border-radius: 50%;
}
  .Home_page .navbar .menu_button {
    margin: 10px;
  }
  .slide {
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
      rgba(255, 255, 255, 0.8) 0px 0px 1px 0px;
    overflow: hidden;
    min-width: 40%;
  }
  .slider::after {
    background: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 1)
    );
  }
  .section_home_page_content .content_sweets .description {
    width: 90%;
  }
  /* hambugur */
  .hamburger {
    height: 50px;
    width: 50px;
    transform: 0.2s;
    position: relative;
  }
  .hamburger .checkbox {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
  .line {
    transition: 0.5s;
    stroke-width: 4px;
    stroke: whitesmoke;
  }
  .lineTop {
    stroke-dasharray: 40 40;
    stroke-dashoffset: 25;
  }
  .lineBottom {
    stroke-dasharray: 40 40;
    stroke-dashoffset: 60;
  }
  .lineMid {
    stroke-dasharray: 40 40;
  }
  .hamburger .checkbox:checked + svg .line {
    stroke: crimson;
  }
  .hamburger .checkbox:checked + svg .lineTop {
    stroke-dashoffset: 0;
    transform-origin: left;
    transform: rotateZ(45deg) translate(-7px, -5px);
  }
  .hamburger .checkbox:checked + svg .lineMid {
    stroke-dashoffset: 40;
  }
  .hamburger .checkbox:checked + svg .lineBottom {
    stroke-dashoffset: 0;
    transform-origin: left;
    transform: rotateZ(-45deg) translate(-5px, 5px);
  }
}
/* ------------------------------------------------------ */
/* All Cards */
/* ------------------------------------------------------ */
::-webkit-scrollbar {
  width: 4px !important; /* Width of the scrollbar */
  background-color: black !important; /* Background color of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(245, 199, 62) !important; /* Color of the scrollbar handle */
  border-radius: 6px !important; /* Rounded corners */
}
.wrapper {
max-width: 1000px;
margin: auto;
overflow-x: hidden;
margin-top: 200px;
}
.tabs-box,.sub-tabs-box {
display: flex;
justify-content: center;
padding-left: 0px; 
list-style: none;
gap: 0px;
overflow-x: auto;
scroll-behavior: smooth;
padding: 10px;
}
.tab h4{
  color: whitesmoke;
}
 
.tabs-box::-webkit-scrollbar ,.sub-tabs-box::-webkit-scrollbar{
height: 0px;
}

.tabs-box::-webkit-scrollbar-thumb ,.sub-tabs-box::-webkit-scrollbar-thumb {
background: rgba(215, 179, 69, 0.8);
border-radius: 0px;
}

.tabs-box::-webkit-scrollbar-track , .sub-tabs-box::-webkit-scrollbar-track {
background: rgba(215, 179, 69, 0.8);
}
.tab ,.subtab {
cursor: pointer;
display: flex;
flex-direction: column;
align-items: center;
font-size: 1.18rem;
color:whitesmoke;
white-space: nowrap;
padding: 13px 0px;
position: relative;
}

@keyframes gradientAnimation {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 00%;
}
}

.tabs-box .tab.active::after {
content: '';
position: absolute;
left: 0;
bottom: 0;
border-radius: 20px;
opacity: 0.6;
width: 100%;
height: 2px;
background: linear-gradient(90deg, rgb(215, 179, 69), rgb(87, 76, 2), rgb(215, 179, 69));
background-size: 200% 200%;
animation: gradientAnimation 3s  infinite forwards ;
}


.tab img ,.subtab img {
height: 4.5rem;
width: 7rem;
object-fit: contain;
}
.tab,.subtab{
  margin: 10px;
}
.tab .design_iamge, .subtab .design_iamge{
width: 100px;
height: 80px;
background-color: rgb(38, 37, 37);
display: flex;
justify-content: center;
align-items: center;
border-radius: 5%;
margin-bottom: 10px;
}
.tab .design_iamge img, .subtab .design_iamge img{
width: 50px;
height: 50px;

}
  

@media screen and (max-width: 600px) {
.tabs-box ,.sub-tabs-box{
  padding-left: 10px;
}
.tabs-box ,.sub-tabs-box {
  display: flex;
  justify-content: flex-start;
}
}
/* All DEsign Cards -------------------------- */
.section_cards{
  margin: auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
      .cards {
          max-width: 1000px;
          margin: auto;
          display: grid;
          grid-template-rows: auto;
          justify-content: center;
          align-items: center;
          gap: 30px;
      }
      .card {
          max-width: 300px;
          height: 300px;
          background-color:rgb(23, 5, 5);
          border-radius: 10px;
          overflow: hidden;
      }
      .card .all_iamge {
          width: 100%;
          height: 70%;
          position: relative;
          top: 0;
          left: 0;
      }
      .card img {
          width: 100%;
          height: 100%;
      }

      .card .content {
          height: 30%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: column;
      }

      .card .content .bottom {
          width: 90%;
          display: flex;
          justify-content: space-between;
      }

      .card .content .head h2 {
          color:aliceblue !important;
      }

      .all_iamge .this_zoom {
          position: absolute;
          width: 50px;
          height: 50px;
          bottom: 5%;
          right: 5%;
          animation: zoom 3s ease forwards infinite;
      }
      .all_iamge .this_zoom1 {
        position: absolute;
        width: 35px;
        height: 35px;
        bottom: 5%;
        right: 5%;
    }

      @keyframes zoom {
          0% {
              transform: scale(1);
          }

          50% {
              transform: scale(1.1);
          }
      }
      /* First Card ------------------------ */

      .one-card.cards {
          grid-template-columns: repeat(1, 500px);
      }
      .one-card.cards .card{
          max-width: 500px;
      }

/* Two Card ----------------------------- */
      .two-cards.cards{
          grid-template-columns: repeat(2, 330px);
      }
      .two-cards.cards .card{
max-width: 330px;
      }

      .two-cards.cards .card .content h2{
        font-size: 1em !important;
      }
/* Option List View ------------------------ */
      .view-options {
        background-color: #282828a1;
          padding: 4px 80px;
          width: 120px;
          height:42px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          margin: 20px 5%;
      }
      .view-options i {
          cursor: pointer;
          color: aliceblue;
          font-size: 24px;
          margin: 0 10px;
      }
      .view-options .active {
        background: linear-gradient(to top, #d4145a, #fbb03b);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;      }

      /* --------- Three Cards */
      .three-cards.cards{
          grid-template-columns: repeat(1, 650px);
      }
      .three-cards.cards .card {
          display: flex;
          color: white;
          justify-content: space-between;
          align-items: center;
          max-width: 650px;
          height: 120px;
          border-radius: 10px;
          background-color: #2a2929;
          overflow: hidden;
          box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      }

      .three-cards.cards .all_iamge {
          margin: 10px;
          border-radius: 10px;
          position: relative;
          width: 30%;
          height: 90%;
          overflow: hidden;
      }
      
      .three-cards.cards .all_iamge img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.5s ease;
      }

      .three-cards.cards .content {
          width: 70%;
          height: 90%;
          padding: 15px;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
      }
      .three-cards.cards .content .head{
          width: 100%;
          padding-top: 10px;
          text-align: left;
      }
      .three-cards.cards .content .bottom{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.three-cards.cards .head h2 {
          margin: 0;
          font-size: 1em;
      }

      .three-cards.cards .bottom p {
          margin: 5px 0;
      }
      /* end three cards */

      /* start Modal */


      .modal {
  display: none; 
  position: fixed; 
  z-index: 99999999999999999999999999999999999999999999; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  backdrop-filter: blur(20px) !important; /* Add blur effect to background */
  background-color: rgba(0, 0, 0, 0.8); 
}
.modal-content {
  background-color: white;
  margin: 15% auto; 
  padding: 3px;
  border-radius: 5px;
  overflow: hidden;
  width: 65%;
  height: 38%;
  position: relative;
}

.modal-content img{
  width: 100%;
  height: 100%;
}
.close {
  background-color: rgb(245, 199, 62);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  top: 5%;
  right: 5%;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(202, 153, 7);
  text-decoration: none;
  cursor: pointer;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 150px;
  margin-bottom: 20px;
  height: 60px;
}

.footer a {
  text-decoration: none;
  background: linear-gradient(to top, #d4145a, #fbb03b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  position: relative;
}

.footer a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; /* Adjust this value if needed */
  width: 100%;
  height: 2px; /* Adjust this value if needed */
  background: linear-gradient(to right, #d4145a, #fbb03b);
  -webkit-background-clip: border-box;
  background-clip: border-box;
  color: transparent;
  opacity: 1;
  animation: text-gradient 3s linear infinite;
  transition: opacity 0.3s;
}




@keyframes text-gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}




/* End Modal */
      /* all Responsive ---------------------------- */
      @media screen and (min-width:1100px) {
          .modal-content {
  width: 50%;
  height: 50%;
}
      }
      @media screen and (min-width:900px) {
          .two-cards.cards{
          grid-template-columns: repeat(2, 430px);
      }
      .two-cards.cards .card{
max-width: 430px;
      }
      .three-cards.cards{
          grid-template-columns: repeat(1, 850px);
      }
      .three-cards.cards .card {
          max-width: 850px;
      }

  }
  @media screen and (max-width:899px) {
      .modal-content {
  width: 65%;
  height: 40%;
}
  }

      @media screen and (max-width: 600px) {
          .cards {
              gap: 15px;
              grid-template-columns: repeat(1, 300px);
          }
          .one-card.cards {
          grid-template-columns: 300px;
          margin-top: 20px;
      }
      .three-cards.cards{
          grid-template-columns: repeat(1, 350px);
      }
      .three-cards.cards .card {
          max-width: 350px;
      }

      .two-cards.cards {
          grid-template-columns: repeat(2, 180px);
      }
      .two-cards.cards .card{
          height: 200px;
      }
      .two-cards.cards .card .content .head h2{
font-size: 18px;
line-height: 1.25rem;
color: rgb(196, 198, 199);
      }
     .two-cards.cards .all_iamge .this_zoom1 {
          position: absolute;
          width: 30px;
          height: 30px;
          bottom: 5%;
          right: 5%;
          animation: zoom 3s ease forwards infinite;
      }
  
      .modal-content {
  width: 90%;
  height: 40%;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 45%;
      }
  }
  @media screen and (max-width: 432) {
      .three-cards.cards{
          grid-template-columns: repeat(1, 374px);
      }
      .three-cards.cards .card {
          max-width: 374px;
          height: 100px;
      }

  }
      @media screen and (max-width: 400px) {

      .two-cards.cards {
          grid-template-columns: repeat(2, 165px);
      }
      .two-cards.cards .card{
          height: 200px;
      }

      .three-cards.cards{
          grid-template-columns: repeat(1, 300px);
      }
      .three-cards.cards .card {
          max-width: 300px;
          height: 100px;
      }
    
  }

  @media screen and (max-width: 350px) {
.two-cards.cards {
  grid-template-columns: repeat(2, 155px);
}
.two-cards.cards .card{
  height: 180px;
}
}

  @media screen and (max-width:320px) {
          .two-cards.cards{
          grid-template-columns: repeat(2, 140px);
      }
      .two-cards.cards .card{
max-width: 140px;
      }
  }
  @media screen and (max-width: 300px) {

.two-cards.cards {
  grid-template-columns: repeat(2, 100px);
}
.two-cards.cards .card{
  max-width: 100px;
  height: 160px;
}
.card {
  font-size: .6em !important;

}
.card .content .head h2{
  font-size: 10px !important;
}


.three-cards.cards{
  grid-template-columns: repeat(1, 220px);
}
.three-cards.cards .card {
  max-width: 220px;
  height: 80px;

}
.one-card.cards {
          grid-template-columns: repeat(1, 220px);
      }
      .card {
          max-width: 220px;
          height: 250px;
      }
      .one-card.cards .this_zoom1{
width: 30px;
height: 30px;
      }
}





/* ----------- */
.fire_and_image{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.fire-main {

	position: relative;
	top: 100px;
  left: 12px;
}
.fire {
    font-size: 11px;
    filter: blur(0.02em);
    margin: 0;
    position: absolute;
    width: 20em;
    height: 20em;
    top: 32px;
    z-index: -1;
    left: 77%;
    transform: translateX(-50%);
}

.particle {
    animation: rise 1s ease-in infinite;
    background-image: radial-gradient(#ff5000 20%, rgba(255, 80, 0, 0) 70%);
    border-radius: 50%;
    mix-blend-mode: screen;
    opacity: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    width: 2em;
    height: 5em;
}

.particle:nth-of-type(1) {
	animation-delay: 0.8964556822s;
	left: calc((100% - 0em) * 0);
}

.particle:nth-of-type(2) {
	animation-delay: 0.2674642467s;
	left: calc((100% - 0em) * 0.02);
}

.particle:nth-of-type(3) {
	animation-delay: 0.0130955055s;
	left: calc((100% - 5em) * 0.04);
}

.particle:nth-of-type(4) {
	animation-delay: 0.6374304012s;
	left: calc((100% - 0em) * 0.06);
}

.particle:nth-of-type(5) {
	animation-delay: 0.0070786102s;
	left: calc((100% - 0em) * 0.08);
}

.particle:nth-of-type(6) {
	animation-delay: 0.3244653163s;
	left: calc((100% - 0em) * 0.1);
}

.particle:nth-of-type(7) {
	animation-delay: 0.0317888126s;
	left: calc((100% - 5em) * 0.12);
}

.particle:nth-of-type(0) {
	animation-delay: 0.0919675473s;
	left: calc((100% - 5em) * 0.14);
}

.particle:nth-of-type(9) {
	animation-delay: 0.4425100364s;
	left: calc((100% - em) * 0.16);
}

.particle:nth-of-type(10) {
	animation-delay: 0.2564813298s;
	left: calc((100% - 5em) * 0.18);
}

.particle:nth-of-type(11) {
	animation-delay: 0.8622463143s;
	left: calc((100% - 5em) * 0.2);
}

.particle:nth-of-type(12) {
	animation-delay: 0.1931103499s;
	left: calc((100% + 55em) * 0.22);
}

.particle:nth-of-type(13) {
	animation-delay: 0.4984542396s;
	left: calc((100% - 5em) * 0.24);
}

.particle:nth-of-type(14) {
	animation-delay: 0.8551300846s;
	left: calc((100% - 5em) * 0.26);
}

.particle:nth-of-type(15) {
	animation-delay: 0.6293827425s;
	left: calc((100% - 5em) * 0.28);
}

.particle:nth-of-type(16) {
	animation-delay: 0.6934984221s;
	left: calc((100% - 5em) * 0.3);
}

.particle:nth-of-type(17) {
	animation-delay: 0.3976088555s;
	left: calc((100% - 5em) * 0.32);
}

.particle:nth-of-type(18) {
	animation-delay: 0.0988007507s;
	left: calc((100% - 5em) * 0.34);
}

.particle:nth-of-type(19) {
	animation-delay: 0.9489184333s;
	left: calc((100% - 5em) * 0.36);
}

.particle:nth-of-type(20) {
	animation-delay: 0.9573873417s;
	left: calc((100% - 5em) * 0.38);
}

.particle:nth-of-type(21) {
	animation-delay: 0.4630426289s;
	left: calc((100% - 5em) * 0.4);
}

.particle:nth-of-type(22) {
	animation-delay: 0.8740087482s;
	left: calc((100% - 5em) * 0.42);
}

.particle:nth-of-type(23) {
	animation-delay: 0.8447529336s;
	left: calc((100% - 5em) * 0.44);
}

.particle:nth-of-type(24) {
	animation-delay: 0.3033398701s;
	left: calc((100% - 5em) * 0.46);
}

.particle:nth-of-type(25) {
	animation-delay: 0.4672828502s;
	left: calc((100% - 5em) * 0.48);
}

.particle:nth-of-type(26) {
	animation-delay: 0.1061233532s;
	left: calc((100% - 5em) * 0.5);
}

.particle:nth-of-type(27) {
	animation-delay: 0.293952684s;
	left: calc((100% - 5em) * 0.52);
}

.particle:nth-of-type(28) {
	animation-delay: 0.9067570302s;
	left: calc((100% - 5em) * 0.54);
}

.particle:nth-of-type(29) {
	animation-delay: 0.0812841631s;
	left: calc((100% - 5em) * 0.56);
}

.particle:nth-of-type(30) {
	animation-delay: 0.8963511417s;
	left: calc((100% - 5em) * 0.58);
}

.particle:nth-of-type(31) {
	animation-delay: 0.3649567632s;
	left: calc((100% - 5em) * 0.6);
}

.particle:nth-of-type(32) {
	animation-delay: 0.6688765945s;
	left: calc((100% - 5em) * 0.62);
}

.particle:nth-of-type(33) {
	animation-delay: 0.0518810817s;
	left: calc((100% - 5em) * 0.64);
}

.particle:nth-of-type(34) {
	animation-delay: 0.2722960905s;
	left: calc((100% - 5em) * 0.66);
}

.particle:nth-of-type(35) {
	animation-delay: 0.3308039609s;
	left: calc((100% - 5em) * 0.68);
}

.particle:nth-of-type(36) {
	animation-delay: 0.8444291597s;
	left: calc((100% - 5em) * 0.7);
}

.particle:nth-of-type(37) {
	animation-delay: 0.0869264372s;
	left: calc((100% - 5em) * 0.72);
}

.particle:nth-of-type(38) {
	animation-delay: 0.4824670907s;
	left: calc((100% - 5em) * 0.74);
}

.particle:nth-of-type(39) {
	animation-delay: 0.7878800865s;
	left: calc((100% - 5em) * 0.76);
}

.particle:nth-of-type(40) {
	animation-delay: 0.6589463969s;
	left: calc((100% - 5em) * 0.78);
}

.particle:nth-of-type(41) {
	animation-delay: 0.5118576839s;
	left: calc((100% - 5em) * 0.8);
}

.particle:nth-of-type(42) {
	animation-delay: 0.524838101s;
	left: calc((100% - 5em) * 0.82);
}

.particle:nth-of-type(43) {
	animation-delay: 0.0768795341s;
	left: calc((100% - 5em) * 0.84);
}

.particle:nth-of-type(44) {
	animation-delay: 0.0207970412s;
	left: calc((100% - 5em) * 0.86);
}

.particle:nth-of-type(45) {
	animation-delay: 0.4431052873s;
	left: calc((100% - 5em) * 0.88);
}

.particle:nth-of-type(46) {
	animation-delay: 0.5174578924s;
	left: calc((100% - 5em) * 0.9);
}

.particle:nth-of-type(47) {
	animation-delay: 0.6439312563s;
	left: calc((100% - 5em) * 0.92);
}

.particle:nth-of-type(48) {
	animation-delay: 0.3926776347s;
	left: calc((100% - 5em) * 0.94);
}

.particle:nth-of-type(49) {
	animation-delay: 0.5524618993s;
	left: calc((100% - 5em) * 0.96);
}

.particle:nth-of-type(50) {
	animation-delay: 0.0774379096s;
	left: calc((100% - 5em) * 0.98);
}
@keyframes rise {
	from {
		opacity: 0;
		transform: translateY(0) scale(1);
	}

	25% {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: translateY(-15em) scale(0);
	}
}